{% extends "Shared/_layout.twig" %}

{% block title %}
    Membership Login
{% endblock %}

{% block body %}

<div class="page-headline">
    <div class="container">
        <div class="col-lg-12"> Forgot your password?</div>
    </div>
</div>

<div class="container margin-top-10" ng-cloak ng-controller="IndexCtr">
    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert darken-grey white-text round-corners-none">
            No worries, simply enter your email below and we will send you a new one right away.
        </div>

        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert alert-success white-text round-corners-none" ng-show="alert.success == true">
            {% verbatim %}{{ alert.message }}{% endverbatim %}
        </div>
        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert alert-danger white-text round-corners-none" ng-show="alert.error == true">
            {% verbatim %}{{ alert.message }}{% endverbatim %}
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 white z-depth-05">

            <form method="post" ng-submit="GetPassword()" class="margin-top-25">
                <input type="hidden" id="csrf" value="{{ csrf }}" />

                <div class="col-lg-12 col-md-7 col-sm-10 col-xs-12">
                    <input type="email" id="useremail" name="useremail" placeholder="Email" required autofocus class="form-control" ng-model="useremail">
                </div>


                <div class="margin-top-10 margin-bottom-25 col-md-12 col-sm-12 col-xs-12">
                    <img src="/assets/images/ajax-loader.gif" id="loader" class="loader pull-right img-responsive margin-top-10 margin-right-10" />
                    <button class="btn green white-text pull-right z-depth-1" type="submit">
                        <i class="fa fa-sign-in margin-right-10"></i>
                        Request Password
                    </button>
                </div>

                <br>
                <br/>

            </form>
        </div>

    </div>
</div>


{% endblock %}



{% block footer_scripts %}

{#<script src="/assets/js/angular.js" type="text/javascript"></script>#}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js" type="text/javascript"></script>#}

<script type="text/javascript">
    (function(){
        angular.module('Membership', []);
    })();
</script>

<script src="/assets/js/ng/forgotpassword/IndexCtr.js" type="text/javascript"></script>
<script src="/assets/js/ng/forgotpassword/IndexFactory.js" type="text/javascript"></script>
{% endblock %}