{% extends "Shared/_layout.twig" %}

{% block title %}
    Membership Login
{% endblock %}

{% block body %}


    <div class="page-headline">
        <div class="container">
            <div class="col-lg-12"> Password change</div>
        </div>
    </div>

    <div class="container margin-top-10" v-cloak id="password-change">
        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert darken-grey white-text round-corners-none">
                Ops! It appears you are using the default password we have generated for you. For a security reasons, please take a minute and change it to something else.
            </div>

            <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert alert-success white-text round-corners-none" v-show="alert.success == true">
                {% verbatim %}{{ alert.message }}{% endverbatim %}
            </div>
            <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 alert alert-danger white-text round-corners-none" v-show="alert.error == true">
                {% verbatim %}{{ alert.message }}{% endverbatim %}
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-lg-6 col-md-7 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1 white">

                <form method="post" v-on:submit.prevent="ChangePassword()" class="margin-top-25"  v-show="displayForm == true">
                    <input type="hidden" id="csrf" value="{{ csrf }}" />

                    <div class="col-lg-12 col-md-7 col-sm-10 col-xs-12">
                        <input type="password" id="password" name="password" placeholder="New password" required autofocus class="form-control no-border-radius" v-model="password1">
                    </div>

                    <div class="col-lg-12 col-md-7 col-sm-10 col-xs-12 margin-top-munus-one">
                        <input type="password" id="password2" name="password2" placeholder="Repeat new password" required autofocus class="form-control no-border-radius" v-model="password2">
                    </div>


                    <div class="margin-top-10 margin-bottom-25 col-md-12 col-sm-12 col-xs-12">
                        <img src="/assets/images/ajax-loader.gif" id="loader" class="loader pull-right img-responsive margin-top-10 margin-right-10" />
                        <button class="btn green white-text pull-right z-depth-1" type="submit">
                            <i class="fa fa-sign-in margin-right-10"></i>
                            Change Password
                        </button>
                    </div>

                </form>

                <div class="col-lg-12 text-center margin-top-25 margin-bottom-40" v-show="displayButton == true">
                    <h3>
                        <a href="/" class="z-depth-05 margin-top-40" target="_parent">Continue to a website</a>
                    </h3>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>
    </div>


{% endblock %}



{% block footer_scripts %}

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js" type="text/javascript"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.1/vue.js" type="text/javascript" ></script>
    <script type="text/javascript" src="/assets/js/vue/passwordchange/index.js" ></script>


    {#<script src="/assets/js/angular.js" type="text/javascript"></script>#}
    {#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>#}

    {#<script type="text/javascript">#}
        {#(function(){#}
            {#angular.module('Membership', []);#}
        {#})();#}
    {#</script>#}

    {#<script src="/assets/js/ng/passwordchange/IndexCtr.js" type="text/javascript"></script>#}
    {#<script src="/assets/js/ng/passwordchange/IndexFactory.js" type="text/javascript"></script>#}

{% endblock %}