<div class="col-md-3 left_col" id="left_menu">
    <div class="left_col scroll-view">
        <div class="navbar nav_title">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Admin Panel</span></a>
        </div>

        <div class="clearfix"></div>

        {#<br />#}
        {#<br />#}

        <!-- menu profile quick info -->
        {#<div class="profile clearfix">#}
            {#<div class="profile_pic">#}
                {#<img src="/Area/Admin/assets/images/img.jpg" alt="..." class="img-circle profile_img">#}
                {#<img v-bind:src="admin_profile.avatar_url" alt="..." class="img-circle profile_img">#}
            {#</div>#}
            {#<div class="profile_info">#}
                {#<span>Welcome,</span>#}
                {#<h2>{{ '{{ admin_profile.full_name }}' }}</h2>#}
                {#<h2>John Doe</h2>#}
            {#</div>#}
            {#<div class="clearfix"></div>#}
        {#</div>#}
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="/Area/Admin/assets/images/img.jpg" alt="..." class="img-circle profile_img admin_profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2 class="admin_profile_name"></h2>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li><a href="/admin/index"><i class="fa fa-home"></i> Home </a></li>
                    <li><a><i class="fa fa-star"></i> Promotions <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="form.html">General Form</a></li>
                            <li><a href="form_advanced.html">Advanced Components</a></li>
                            <li><a href="form_validation.html">Form Validation</a></li>
                            <li><a href="form_wizards.html">Form Wizard</a></li>
                            <li><a href="form_upload.html">Form Upload</a></li>
                            <li><a href="form_buttons.html">Form Buttons</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-list-alt"></i> Programs <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="index.html">New Program</a></li>
                            <li><a href="index2.html">List Programs</a></li>
                            <li><a href="index3.html">Access</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-user"></i> Members <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="general_elements.html">List</a></li>
                            <li><a href="general_elements.html">Add Member</a></li>
                            <li><a href="general_elements.html">Program Access</a></li>
                            <li><a href="media_gallery.html">Banned</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-money"></i> Transactions <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/transactions/index">Purchases</a></li>
                            <li><a href="#">Purchases ban list</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-cog"></i> System <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/admin/system/logs">Logs</a></li>
                            <li><a href="/admin/system/sqlbackup">Database Backup</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>