.lightbox_trigger {
    cursor: pointer;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    text-align:center;
}
#lightbox-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#lightbox img {
    border: #ffffff 15px solid;
    border-radius: 5px;
    outline: #eeeeee 1px solid;
    outline-offset: -15px;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    box-shadow:0 0 25px #111;
    max-width:800px;
    max-height:550px;
}

@media (max-width: 800px) and (orientation:portrait) {
#lightbox img {  
    max-width:720px;
    max-height:800px;
}
}
@media (max-width: 750px) and (orientation:landscape) {
#lightbox img {  
    max-width:640px;
    max-height:350px;
}
}
@media (max-width: 600px) and (orientation:landscape) {
#lightbox img {  
    border: #ffffff 10px solid;
    outline-offset: -10px;
    max-width:500px;
    max-height:280px;
}
}
@media (max-width: 420px) and (orientation:portrait) {
#lightbox img {  
    border: #ffffff 10px solid;
    outline-offset: -10px;
    max-width:350px;
    max-height:650px;
}
}
@media (max-width: 376px) and (orientation:portrait) {
#lightbox img {  
    max-width:300px;
    max-height:500px;
}
}
