{% extends "Shared/_layout.twig" %}

{% block title %} Contact Us {% endblock %}

{% block body %}
    <div class="page-headline">
        <div class="container">
            <div class="col-lg-12"> Contact Us</div>
        </div>
    </div>

<div class="container white z-depth-05">
    <div class="row margin-top-40">

        <div class="alert round-corners-none margin-bottom-15" id="contact_send">
            <div id="update_message"></div>
        </div>

        <div class="col-lg-12">
            <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs margin-top-15">
                <img src="/assets/images/support.png" alt="Please post link your image" class="img-responsive margin-left-10" />
            </div>


            <!-- contact form -->
            <div class="col-lg-8 col-sm-8 col-xs-12 margin-top-15">
                <form method="post" class="margin-bottom-25" id="contact">

                    <input type="hidden" id="csrf" value="{{ csrf }}" />

                    <div class="form-group col-lg-6">
                        <label for="name">Name</label>
                        <input type="text" class="form-control no-border-radius" id="name" placeholder="Name">
                    </div>

                    <div class="clearfix"></div>
                    <div class="form-group col-lg-6">
                        <label for="email">Email</label>
                        {% if email is not empty %}
                            <input type="email" class="form-control no-border-radius" value="{{ email }}" id="email" disabled placeholder="email">
                        {% else %}
                            <input type="email" class="form-control no-border-radius" id="email" placeholder="email" required>
                        {% endif %}
                    </div>

                    <div class="form-group col-lg-12">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" class="form-control no-border-radius" placeholder="Subject line" required>
                    </div>

                    <div class="form-group col-lg-12">
                        <label for="message">Message</label>
                        <textarea id="message" rows="5" class="form-control no-border-radius" placeholder="Your message" required></textarea>
                    </div>
                    <div class="form-group">
                        <img src="/assets/images/ajax-loader.gif" id="loader" class="pull-right img-responsive margin-top-10 margin-right-10" style="height: 30px;" />
                        <button type="submit" class="btn green white-text pull-right z-depth-1 margin-right-15" id="btn_submit">
                            <i class="fa fa-send-o margin-right-5"></i>
                            Send Message
                        </button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>

        </div>
    </div>
</div>


{% endblock %}

{% block footer_scripts %}

    <script type="text/javascript">

        (function () {

            $('#loader').hide();
            $('#contact_send').hide();

            $('#contact').submit(function (event) {
                $('#loader').show();

                //prepare data
                var data = {
                    csrf: $('#csrf').val(),
                    name: $('#name').val(),
                    email: $('#email').val(),
                    subject: $('#subject').val(),
                    message: $('#message').val()
                };
                data = JSON.stringify(data); // $.param({ 'id': ticket_id });

                //submit and save the information
                $.ajax({
                    url: "/contact_send",
                    method: "POST",
                    data: data
                }).done(function(result) {
                    $('#update_message').html(result.message);
                    if(result.is_success)
                    {
                        $('#contact_send')
                            .removeClass('alert-danger')
                            .removeClass('alert-success')
                            .addClass('alert-success')
                            .show('slow');
                    }
                    else
                    {
                        $('#contact_send')
                            .removeClass('alert-danger')
                            .removeClass('alert-success')
                            .addClass('alert-danger')
                            .show('slow');
                    }

                    $('#loader').hide();//
                });

                return false;
            });
        })();

    </script>

{% endblock %}