/***********************************************
        Custom CSS that I can plug into any
        project and use
*************************************************/


/************************************
    shadow classes
*************************************/
.z-depth-0 { box-shadow: none !important; }
.z-depth-05 { box-shadow: 0 1px 2px rgba(0,0,0,.2);  }
.z-depth-1 { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
.z-depth-2 { box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); }
.z-depth-3 { box-shadow: 0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); }
.z-depth-4 { box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21); }
.z-depth-5 { box-shadow:  0 27px 24px 0 rgba(0,0,0,0.2),0 40px 77px 0 rgba(0,0,0,0.22); }


/******************************************
        Text aligns
******************************************/
.left-align { text-align: left;  }
.left-align { text-align: right;  }
.center-align { text-align: center;}


/********************
	Space helpers
****************************/
.margin-top-munus-one {
    margin-top: -1px;
}

.margin-top-0 { margin-top: 0;}
.margin-top-5 { margin-top:5px;}
.margin-top-10 { margin-top:10px;}
.margin-top-15 { margin-top:15px;}
.margin-top-20 { margin-top:20px;}
.margin-top-25 { margin-top:25px;}
.margin-top-40 { margin-top:40px;}
.margin-top-60 { margin-top:60px;}

.margin-left-0 { margin-left:0;}
.margin-left-5 { margin-left:5px;}
.margin-left-10 { margin-left:10px;}
.margin-left-15 { margin-left:15px;}
.margin-left-20 { margin-left:20px;}
.margin-left-25 { margin-left:25px;}
.margin-left-40 { margin-left:40px;}
.margin-left-60 { margin-left:60px;}

.margin-right-0 { margin-right:0;}
.margin-right-5 { margin-right:5px;}
.margin-right-10 { margin-right:10px;}
.margin-right-15 { margin-right:15px;}
.margin-right-20 { margin-right:20px;}
.margin-right-25 { margin-right:25px;}
.margin-right-40 { margin-right:40px;}
.margin-right-60 { margin-right:60px;}

.margin-bottom-0 { margin-bottom:0;}
.margin-bottom-5 { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;}
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-60 { margin-bottom:60px;}

/****************************************
        Padding
 ****************************************/
.left-padding-0 {  padding-left: 0 !important;  }
.right-padding-0 {padding-right: 0;}


/****************************************
            border
*****************************************/
.border { border: 1px solid rgba(160,160,160,0.2); }
.border-top { border-top: 1px solid rgba(160,160,160,0.2); }
.border-bottom { border-bottom: 1px solid rgba(160,160,160,0.2); }
.border-left { border-left: 1px solid rgba(160,160,160,0.2); }
.border-right { border-right: 1px solid rgba(160,160,160,0.2); }
.border-none { border: none !important;}

/*****************************************
    Border corners
******************************************/
.round-corners { border-radius: 6px; }
.round-corners-none { border-radius: 0px;}


/*****************************************
        RIBBONS
*****************************************/
.ribbon-wrapper {
    width: 85px;
    height: 88px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.price-ribbon {
    font: bold 15px Sans-Serif;
    color: #333;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
    position: relative;
    padding: 7px 0;
    left: -5px;
    top: 15px;
    width: 120px;
    background-color: #FFF;
    color: #6a6340;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
    color: 0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green {
    background-color: #BFDC7A;
}
.ribbon-blue {
    background-color: #5ACBFF;
}
.ribbon-orange {
    background-color: #FF9542;
}
.ribbon-red {
    background-color: #FF7373;
}

/****************************************
            OTHER
*****************************************/
.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}


/* text colors */
.white-text { color: #ffffff !important; }
.black-text { color: #000000 !important; }
.blue-text { color: #1E83C4 !important; }
.light-blue-text { color: #1E83C4 !important; }
.green-text { color: #4caf50 !important; }
.red-text { color: #f44336 !important; }
.darken-grey-text { color: #616161 !important; }
.light-orange-text { color: #ffcc80 !important; }



/* background colors */
.white {  background-color: #ffffff !important; }
.blue { background-color: #1E83C4 !important; }
.black { background-color: #000000 !important; }
.green { background-color: #4caf50 !important; }
.red { background-color: #f44336 !important; }
.darken-grey { background-color: #616161 !important; }
.light-orange { background-color: #ffcc80 !important; }