a:hover,
#sidebar #popular_posts li a:hover,
#sidebar ul li a:hover{
    color: #2baed9;
}
#menu li.current_page_item a,#menu li.current-menu-item a, #menu li.current-menu-parent a, #menu li.current_page_parent a, #menu li a.selected, #menu li a:hover{
    background: rgb(20, 138, 177);
}
#slider_wrapper,
#crumbs_wrapper,
#footer_bottom,
div.ptp-plan,
.ptp-cta a.ptp-button{
    background: #40b2d6 !important;
}
#footer_wrapper{
    background-color: #e8eff8;
}
#footer_wrapper .footer_widget .footer_title{
    border-bottom: 1px dotted #CECECE;
}
.top-strip{
    background: url('images/top-strip-blue.png') repeat-x;
}
.bottom-strip{
    background: url('images/bottom-strip-blue.png') repeat-x;
}
#slider_wrapper .entry h1.entry_heading{
    color: #fff;
}
#slider_wrapper .entry h4.entry_content{
    color: #fff;
}
#content_wrapper .videos .cat_title:hover{
    color: #2baed9;
}
.footer_strip {
    background: none;
    background-color: rgb(220, 224, 235);
}
.ptp-cta a.ptp-button
{
    border-bottom: #0B8CB4  4px solid !important;
}
.ptp-cta a.ptp-button:hover{
    background-color: #0B8CB4  !important; 
}
ol.commentlist li.comment .reply a, #content_wrapper .post .continue, #respond input#submit {
background-color: #0B8CB4;
}